* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Arial', sans-serif;
}

/* global css */

h1 {
    font-size: clamp(2.5rem, 3.7vw, 60px);
}
h2 {
    font-size: clamp(2rem, 3.3vw, 48px);
}
h3 {
    font-size: clamp(1.5rem, 2.7vw, 40px);
}

h4 {
    font-size: clamp(1.2rem, 2.3vw, 27px);
}


.para p{
    font-size: clamp(19px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 700px;
    color: #363636;
}

h1,h2,h3,h4{
    color: #242424;
    
}

html, body {
    overflow-x: hidden;
    scroll-behavior: smooth;
    background-color: #fff;
}

main{
    min-height: calc(100vh - 200px);
}

/* toggle nightmode */
.nightmodeContainer{
    position: absolute;
    right: 40px;
    top: 200px;
}
.switchBG{
    position: relative;
    width: 80px;
    height: 35px;
    background: rgb(206, 206, 206);
    border-radius: 30px;
}
.nightmode{
    display: inline-block;
    width: 50%;
    height: 100%;
    text-align: center;
    border: none;
    border-radius: 30px;
    font-size:1.3em;
    color: rgb(129, 129, 129);
    margin: 0 3px;
    transform: translateX(0%);
    transition: all 0.6s ease-out;
    
}
.nightmode:hover{
    background-color: rgb(3, 3, 3);
    color: rgb(243, 196, 109);
    
}

.switchOn{
    transform: translateX(100%);
    color: rgb(243, 196, 109);
    background-color: rgb(7, 7, 7);
}

/* toggle to */
.darkmode, .darkmode h1, .darkmode h2,
.darkmode h3, .darkmode h4,
.darkmode p, .darkmode span,
.darkmode #loadmore{
    background-color: rgb(20, 20, 20);
    color: #fff;
    transition: all 0.3s ease-out;
}

.moonLight{
    color: rgb(238, 202, 83);
    background-color: rgb(5, 23, 56);
}


/* active page */

.active-page{
    border-bottom: 3px solid orange;
}

/* button and links */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    font-weight: bold;
    color: #fff;
    padding: 15px 30px;
    margin-top: 20px;
    position: relative;
    z-index: 1;
}

.button:hover{
    color: #000;
} 

.button::after{
    position: absolute;
    content: "";
    top:0px;
    right:0px;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #fff;
    z-index: -1;
    transition: all 0.3s ease-out;
}
.button:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

.button.dark{
    border: 2px solid #000;
    color: #000;
}
.button.dark:hover{
    color: #fff;
}
.button.dark::after{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #000;
    z-index: -1;
    transition: all 0.3s ease-out;
} 
.button.dark:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

/* nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #030303;
}
  
header {
    position: relative;
}
  
.logo a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
}
.logo a:hover {
    color: rgb(236, 236, 236);
    cursor: pointer;
}
  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
  
.nav-links li {
    list-style: none;
    position: relative;
}
.nav-links li a {
    display: block;
    line-height: 40px;
    padding: 1px 30px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.25s ease;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
    cursor: pointer;
}

.nav-links a:active{
    color: orange;
}

  
  /* mobile nav */
.burger {
    display: none;
    cursor: pointer;
}
  
.burger div {
    width: 35px;
    height: 4px;
    background-color: rgb(255, 255, 255);
    margin: 6px;
    transition: all 0.3s ease;
}

/* hero section */
.hero {
    position: relative;
    margin: 0 auto;
}

.hero::before{
    position: absolute;
    content: "";
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgb(0,0,0);
    background: radial-gradient(circle, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.7) 0%, rgba(0,0,0,0.3) 100%);
}

.hero-heading {
    color: #fff;
    font-size: clamp(50px, 6vw, 80px);
    width: 900px;    
}

.hero-span{
    font-size: 1.7em;
    border-bottom: 5px solid orange;
}

.hero img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
    display: block;
  }

.hero-text{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 670px;
    text-align: left;
    color: #fff;
}
.hero-text .para p{
    color: #fff;
    line-height: 1.8;
}


.fa-chevron-down{
    position: absolute;
    bottom: 12%;
    left: 50%;
    transform: translate(-50%, 0);
    font-size: 4em;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    animation: float 5s ease-out infinite;
}

@keyframes float{
    50%{
        transform: translate(-50%, 50%);
        opacity: 1;
    }
}

/* Latest */

.two-col-container{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10em;
    justify-content: center;
    justify-items: center;

}
.two-col-container > * {
    flex-basis: 40%;
}

.two-col-container h3{
    display: inline-block;
    border-bottom: 10px solid orange;
    padding-bottom: 5px;
}

.column-1{
    flex:2;
}

.column-2{
    padding: 0 25px;
    flex: 1;
}

.two-col-img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    display: block;
    border-right: 30px solid orange;
}

.two-col-info{
    display: block;
    width: 100%;
    max-width: 700px;
    color: #000;
    padding-top: 20%;
}
.two-col-info .details{
   padding-bottom: 30px;
}

.launch-date{
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

/* upcoming */

.upcoming-img{
    width: 100%;
    min-width: 600px;
    height: auto;
}

#countdown{
    margin-left: 20px;
}

/* timeline */
.timeline{
    margin: 0 auto;
    width: 100%;
    padding: 8em 0em;
    /* margin-left: 20px; */
}
.timeline h2{
    border-bottom: 10px solid orange;
    display: inline-block;
    padding-left: 120px;
   
}

.timelineContainer{
   display: grid;
   grid-template-columns: repeat(6, auto);
   transform: translateX(0%);
   transition: all 1.5s ease-out;
} 

.recentLaunchTarget{
    height: 40vh;
    min-width: calc(100vw / 3.1);
    padding: 10px 15px;
    margin: 20px 0px;
    margin-right: 7px;
    background-size: cover;
    transition: all 0.4s ease-out;
    position: relative;
    text-decoration: none;
    color: #000;
    background-position: bottom;
}
.recentLaunchTarget:hover{
    filter: grayscale(0.8);
    cursor: pointer;
}

.recentLaunchTarget:last-child{
   border-right: 10px solid orange;
}

/* controller */
.timeline .controller{
    width: 100%;
    text-align: center;
    margin-top: 2em;
}

.controller ul li{
    display: inline-block;
    padding: 0 8px;
    font-size: 1.8em;
    color: rgb(78, 78, 78);
    transform: scale(0.8);
}

.controller ul li:hover{
    cursor: pointer;
    transform: scale(1.2);
    color: darkorange;
}


/* .timelineContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(340px, 1fr));
    grid-template-rows: auto;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
}  */


/* .recentLaunchTarget{
    height: 350px;
    width: 200px;
    padding: 10px 15px;
    margin: 20px;
    background-size: cover;
    transition: all 0.4s ease-out;
    opacity: 1;
    position: relative;
    transition: all 0.2s ease;
    position: relative;
    text-decoration: none;
    color: #000;
}  */


.recentLaunchTarget a{
    position: absolute;
    color: white;
    text-decoration: none;
    font-size: 3em;
    width: 80px;
    padding: 20px;
    text-align: center;
    z-index: 1;
}
   
.recentLaunchTarget h3, .recentLaunchTarget p{
    color: #fff;
} 

.card-shadow-bg{
   background-color: rgba(0, 0, 0, 0.5);
   width: calc(100% + 30px);
   height: 100px;
   margin-left: -15px;
   margin-top: -10px;
   padding: 5px 0 5px 20px;
}



/* people in space */
.center-wrapper{
    max-width: 1400px;
    height: 700px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
.center-wrapper .column-1{
    padding: 0 25px;
}

#station-img{
    max-width: 700px;
    height: auto;
}

.people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    font-size: 1.5em;
}

.currentPeopleInSpace{
    font-size: 1.3em;
    margin-top: 3em;
}


/* location ISS */

.center{
    margin: 0 auto;
    width: 50%;
    padding: 10em 0;
}
.center h4{
    display: inline-block;
    border-bottom: 10px solid orange;
}

iframe{
    width: 100%;
}

/* newsletter section */
.newsletter{
    background-image: url(images/turksat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
}
.newsletter p{
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    
}

.sub-div{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.sub-div h3{
    color: #fff;
}

input{
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    color: #fff;
    width: 400px;
    padding-left: 5px;
    padding: 15px 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-out
}
input.black{
    border: 2px solid #000;
    color: #000;
   
}

input:focus{
    background-color: rgba(255,255,255, 1);
    color: #000;
}

/* validation input */
input:valid {
    border-bottom: 3px solid green;
    outline: none;
}
input:focus:invalid {
    border-bottom: 3px solid red;
    outline: none;
}

button:hover{
    cursor: pointer;
}


footer{
    /* clear: both; */
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #fff;
    position: relative;
}

.footer-wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .logo a{
    font-size: 1.3em;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.code-by{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

footer ul li{
    display: inline-block;
    margin: 0 3em;
    font-size: 1.3em;
}

footer li a{
    text-decoration: none;
    color: rgba(255,255,255, 1);
    transition: all 0.3s ease;
}

footer li a:hover{
    border-bottom: 3px solid white;
    color:rgba(255,255,255, 0.7);
}




/* CONTACT PAGE */

.contact-page-hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
}

#sn8-img img{
    width: 100%;
    max-width: 60vw;
    height: 92vh;
    object-fit: cover;

}

.contact-heading{
    font-size: clamp(40px, 5vw, 60px);
    margin-bottom: 10px;
    width: 300px;
}

.contact-wrapper{
    max-width: 40vw;
    height: 100%;
    margin: 1% 5%;
}
.contact-wrapper .para{
    margin: 30px 0;
}

.contact-wrapper .fas, .contact-wrapper .far, .contact-wrapper .fab{
    padding-right: 10px;
    color: #000;
    font-size: 1.2em;
    
}

#comments{
    max-width: 20vw;
    min-width: 400px;
    min-height: 20vh;
    max-height: 20vh;
    font-size: 1.2em;
    padding: 7px;
}

form label{
    font-size: 1.2em;
}

fieldset{
    border: none;
    width: 100%;
}

legend{
    font-size: 2em;
}

label, textarea{
    display: block;
}

.contact-wrapper .para{
    width: 100%;
}


/* form validation styles */

#submitMessage{
    width: 400px;
}

.submitMessageSuccess{
    font-size: 1.2em;
    color: green;
    border: 1px solid green;
    padding: 7px;
}

#nameError, #emailError, #subjectError, #commentsError{
    display: none;
    color: red;
}

.submit-button{
    margin-top: 2em;
    padding: 10px 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    cursor: pointer;
}

#submit-btn:disabled{
    background-color: lightgray;
    border: 2px solid rgba(128, 128, 128, 0.191);
    color: rgba(0, 0, 0, 0.171);
    cursor: default;
}


/* Launches page */

/* loadmore button */
#loadmore{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border: 2px solid rgb(61, 61, 61);
    background-color: rgba(231, 231, 231, 0.13);
    font-weight: 600;
    font-size: 1.2em;
    color:  rgb(61, 61, 61);
    margin: 3em auto;
}
#loadmore:hover{
   border: 2px solid darkorange;
}

.rocketCounter{
    margin: 0 auto;
    width: 90%;
    height: auto;
    text-align: left;
    padding-left: 20px;
    padding-bottom: 15px;
}
#launch-count span:nth-child(1){
background-color: rgb(44, 60, 207);
padding: 2px 5px;
color: white;
}

.launch-hero{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

.launch-results{
    width: 90%;
    min-height: 92vh;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 5em;
}

.launch-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #e6e6e62c;
    padding: 20px;
    margin: 20px;
    text-decoration: none;
    display: inline-block;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: 300;
    overflow: hidden;
    display: none;
}
/* initial displayed items */
.launch-cards:nth-child(1),
.launch-cards:nth-child(2),
.launch-cards:nth-child(3),
.launch-cards:nth-child(4),
.launch-cards:nth-child(5),
.launch-cards:nth-child(6),
.launch-cards:nth-child(7),
.launch-cards:nth-child(8){
    display: block;
}

/* searchfield */
.searchbar{
    height: auto;
    margin: 2em 0;
}

#search{
    background-color: rgb(241, 241, 241);
    height: 70px;
    padding: 0;
    margin: 0;
    border-bottom: 3px solid rgb(231, 231, 231);
}
#search:focus{
    background-color: rgb(243, 243, 243);
    border-bottom: 3px solid orange;
}

#search-btn{
    height: 70px;
    width: 62px;
    font-size: 1em;
    border-radius: 0;
    border: none;
    background-color: rgb(95, 95, 95);
    border-bottom: 3px solid rgb(231, 231, 231);
    color: #fff;
    transition: all 0.3s ease;
}
#search-btn:hover{
    background-color: rgb(112, 112, 112);
}

.item-count{
    font-size: 0.8em;
    color: rgb(97, 97, 97);
}

.card-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}

/* slider */

.slider{
    width: 400px;
    height: 50px;
}

.slider-btn{
    display: inline-block;
    height: 100%;
    width: 70px;
    padding: 10px 10px;
    border: none;
    font-size: 1em;
    color: #fff;
    font-weight: 500;
    text-transform: uppercase;
    text-align: center;
    background-color: rgb(131, 131, 131);
    transition: all 0.2s ease-out;
}

.slider input{
    border-bottom: none;
    border: 2px solid black;
}

/* details page */

.go-back-btn{
    display: inline-block;
    border-bottom: 1px solid darkblue;
    margin: 20px 0 0 20px;
    
}

.read-more h3{
    font-size: 4em;
    font-weight: 100;
    width: 900px;
}

.read-more span{
    font-weight: 800;
}

.read-more p{
    margin: 2em 0;
}


.read-more .link{
    display: block;
    font-size: 1.4em;
    text-decoration: none;
    color: inherit;
    border-left: 20px solid darkblue;
}

.fa-link{
    color: rgb(122, 122, 122);
    margin-right: 10px;
    font-size: 0.8em;
    padding-left: 7px;
}


.detail-heading{
    font-size: 4em;
}

.details-bottom-img{
    margin: 0 auto;
    width: 60%;
    padding: 8em 0;
}

.details-bottom-img img{
    display: inline-block;
    width: 100%;
    margin: 1em 0;
    height: 70vh;
    object-fit: cover;
}

/* rockets */
.rocket-details{
    width: 100%;
    height: auto;
}
.rocket-details h4{
    border-bottom: none;
}
.rocket-details span{
    display: block;
    font-size: clamp(19px, 2vw, 22px);
    
}
.rocket-details .data-row:nth-child(odd){
    background-color: rgba(240, 240, 240, 0.507);
}
.rocket-details .data-row{
    padding: 0.6em 0;
    border-bottom: 2px solid rgb(0, 0, 0);
    border-left:20px solid darkorange;
    padding-left: 15px;
}
.rocket-details .para{
    padding-right: 20px;
}

.rocket-details .para:nth-of-type(1){
    margin-bottom: 3em;
}

.txt-link{
   text-decoration: none;
   color: rgb(0, 37, 248);
}

/* Gallery styles */

.gallery-wrapper{
    margin: 0 auto;
    max-width: 120em;
    padding: 1.2em 20px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.gallery-images{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    transition: all 4s ease-in-out;
}

.gallery-item1, .gallery-item2{
    position: relative;
    overflow: hidden;
} 

.gallery-item1 img:hover, .gallery-item2 img:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

.gallery-item-name{
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding:5px 10px;
    display: inline-block;
    background-color: rgb(51, 51, 51);
}


.galleryContainer1{
    margin: 3em 0;
}
.galleryContainer2{
    margin-bottom: 5em;
}

/* apod */

.apod-wrapper{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
}

.picture-of-the-day{
    width: 100%;
    height: 700px;
    flex: 2;
    text-align: right;
    margin-left: 5em;
}


.picture-of-the-day img{
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-left: 30px solid orange;
}
.picture-of-the-day iframe{
    display: block;
    width: 100%;
    height: 50vh;
    border-left: 30px solid orange;
}

.apod-ex{
    flex: 1;
}
.apod-title h2{
    display: inline-block;
    margin-bottom: 1em;
    border-bottom: 10px solid orange;
}

.apod-ex h3{
    color: #3b3b3b;
}

.enter-photo-poll{
    margin-top: 3em;
    background-color: #c3c3c32c;
    padding: 2em 1em;
}

.apod-congrats{
    background-color: #e6e6e62c;
    padding: 2em 1em;
    border-left: 30px solid rgb(228, 228, 228);
}


.soMe-link{
    display: inline-block;
    padding: 12px;
    background-color: #1DA1F2;
    margin-top: 1em;
    
}
.soMe-link .fa-twitter{
    font-size: 2em;
    color: white; 
}

/* go to top */
.go-to-top{
    position: relative;
    width: 120px;
    height: 90px;
    margin: 2em 0;
}

.fa-space-shuttle{
    position: absolute;
    left: 50%;
    top: 40%;
    transform: rotate(-90deg) translate( 40%, -60%);
    font-size: 2em;
    z-index: 10;
    color:rgb(110, 110, 110);
}
.fa-burn{
    position: absolute;
    left: 50%;
    top: 35%;
    transform: rotate(180deg) translate(45%, -60%);
    font-size: 2em;
    color: darkorange;
    opacity: 0;
    transition: all 0.4s ease;
}

.go-to-top span{
    position: absolute;
    top: -5%;
    left: 50%;
    transform: translate(-50%, 0);
    text-transform: uppercase;
}

.fa-space-shuttle:hover + .fa-burn{
    opacity: 1;
}

@media screen and (max-width: 1515px){
    .recentLaunchTarget{
        height: 35vh; 
        min-width: calc(100vw / 3.2);   
    }
}

@media screen and (max-width: 1124px) {
    .nav-links {
      width: 60%;
    }

    /* hero */
    .hero-text{
        top: 12%;
        left: 5%;
        max-width: 450px;
        transform: translate(0, 0);
        text-align: left;

    }
    .hero-heading {
        color: #fff;
        font-size: clamp(50px, 6vw, 80px);
        width: 90vw;    
    }

    .hero img {
        width: 100%;
        height: 92vh;
        object-fit: cover;
        display: block;
      }

    /* gallery */

    .gallery-grid{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .apod-wrapper{
        flex-direction: column-reverse;
        height: 100%;
    }

    .apod-title h2{
        font-size: 1.7em;
    }
    
    .picture-of-the-day{
        width: 100%;
        margin-left: 0em;
    }   
    
    .picture-of-the-day img{
        height: 40vh;
    }
    .picture-of-the-day iframe{
        height: 40vh;
    }
    /* details */
    .details-bottom-img{
        display: block;
        margin: 0 auto;
        width: 100%;
        padding: 2em 0;
    }
    
    .details-bottom-img img{
        display: inline-block;
        width: 100%;
        margin: 1em 0;
        height: 70vh;
        object-fit: cover;
        
    }

}

@media screen and (max-width: 960px) {
     main {
      width: 100%;
    }

    .mobile-margin{
        padding-left: 20px;
    }

    .para-margin{
        margin: 0 20px;
    }

    /* .button{
        margin-left: 20px;
    } */

    /* nav */
  
    nav {
        justify-content: space-between;
    }

    nav .logo a{
        font-size: 1.3em;
        letter-spacing: 1px;
        margin-left: 30px;
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(20, 20, 20);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
        display: none;
    }
    
    .nav-links li {
        opacity: 0;
        margin: 2em 0;
    }
    .burger {
        display: block;
        margin-right: 20px;
    }

    /* latest */
    .two-col-container{
        flex-direction: column;
        margin-top: 2em;
        padding: 0;
    }
    
    .two-col-info{
        padding-top: 2%;
    }
    .column-2{
        padding: 0;
    }
    .center-wrapper .column-1{
        padding: 0;
    }

    .two-col-img{
        height: 50vh;
    }

    /* upcoming */
    .upcoming-img{
        display: block;
        margin: 0 auto;
        width: 100%;
        min-width: 300px;
    }

    .center-wrapper{
        width: 100%;
        height: auto;
        margin: 3em 0;
    }


    /* recent timeline */ 
    .timeline{
        width: 100%;
        padding: 3em 0;       
    }
    .timeline h2{
        border-bottom: 10px solid orange;
        display: inline-block;
        padding-left: 20px;
       
    }

    .recentLaunchTarget{
        height: 30vh;
        min-width: calc(100vw / 3.3);  
    }

    .recentLaunchTarget h3{
        font-size: 1.3em;
        margin-left: -12px;
    } 
    .center{
        margin: 0 auto;
        width: 100%;
        padding: 4em 0;
    }
    .newsletter{
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }
    .sub-div{
        display: block;
        width: 100%;
        left: 0;
        transform: translate(0px, 0px);
        margin: 0 20px;
    }
    input{
        width: 300px;
        padding-left: 5px;
        margin: 0; 
    }
    .newsletter p{
        padding-bottom: 1em;
    }
    .subscribe-btn{
        margin: 0;
    }

    /* launch page */

    .launch-hero{
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }
    .launch-results{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-column-gap: 0px;
        padding-bottom: 2em;
    }
    .launch-cards{
        margin: 0;
        display: none;
    }

    .rocketCounter{
        width: 100%;
    }

    /* gallery */
    
     .picture-of-the-day iframe{
        height: 270px;
    }

    /* launch details */

    .read-more .para h3{
        font-size: 2.5em;
        font-weight: 100;
        color: #fff;
        width: 100%;
        background-color: darkblue;
    }

    /* contact page */
    #sn8-img img{
        display: none;
    }

    .contact-page-hero{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 2em;
        margin-bottom: 6em;
    }

    .contact-wrapper{
        width: 100%;
        height: 100%;
        margin: 0;
        margin-left: 20px;
    }
    .contact-wrapper .para{
        width: 90vw;
    }
    
    #comments{
        min-width: 360px;
        max-width: 360px;
        padding: 0;
        margin-right: 0px;
    }

    #name, #subject, #email, #comments{
        width: 360px;
        display: inline-block;
        text-decoration: none;
        border: 2px solid #000;
        font-size: clamp(16px, 2vw, 22px);
        color: #000;
        padding-left: 5px;
        padding: 7px 5px;
        margin-bottom: 30px;
        transition: all 0.3s ease-out
    }

    .submit-button{
        margin-top: 0;
        font-size: 1.2em;
        padding: 7px 20px;
    }

    /* footer */
    footer{
        height: 130px;
    }

    .footer-wrapper{
        width: 100%;
        justify-content: center;
    }

    footer ul li{
        margin: 0 1em;
        font-size: 1em;
    }

}
  
.nav-active {
    transform: translateX(0%);
    display: block;
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}
  
.toggle .line1 {
    transform: translate(0px, 10px) rotate(45deg);
}
.toggle .line2 {
    animation: leaveScreen 1s ease 15ms forwards;
}
.toggle .line3 {
    transform: translate(0px, -10px) rotate(-45deg);
}

@keyframes leaveScreen{
    0%{
        transform: translateX(0%);
        opacity: 1;
        
    }
    100%{
        transform: translateX(200%);
        opacity: 0;
    }
}


/* loader animation */
.loader{
    display: block;
    margin: 0 auto;
    width: 90px;
    height: 50px;
    position: relative;
    text-align: center;
    letter-spacing: 1px;
}
#dot1{
    position: absolute;
    content:"";
    left: 10%;
    top: 50%;
    height: 8px;
    width: 8px;
    background-color: darkorange;
    border-radius: 50%;
    animation: loading 1s ease infinite;
    opacity: 1;
}
#dot2{
    position: absolute;
    content:"";
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    height: 8px;
    width: 8px;
    background-color: darkorange;
    border-radius: 50%;
    animation: loading 1s ease 0.2s infinite;
    opacity: 1;
}
#dot3{
    position: absolute;
    content:"";
    right: 10%;
    top: 50%;
    height: 8px;
    width: 8px;
    background-color: darkorange;
    border-radius: 50%;
    animation: loading 1s ease 0.4s infinite;
    opacity: 1;
}

@keyframes loading{
    50%{
        opacity: 0.4;
    }
}