* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Arial', sans-serif;
}


/* global css */

h1 {
    font-size: clamp(2.5rem, 3.7vw, 60px);
}
h2 {
    font-size: clamp(2rem, 3.3vw, 48px);
}
h3 {
    font-size: clamp(1.5rem, 2.7vw, 40px);
}

h4 {
    font-size: clamp(1.2rem, 2.3vw, 27px);
}


.para p{
    font-size: clamp(19px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 700px;
}
.para p{
    color: #363636;
}

h1,h2,h3,h4{
    color: #242424;
    
}

html, body {
    overflow-x: hidden;
}

main{
    min-height: calc(100vh - 200px);
}


/* active page */

.active-page{
    border-bottom: 3px solid orange;
}

/* button and links */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    font-weight: bold;
    color: #fff;
    padding: 15px 30px;
    margin: 40px 0;
    position: relative;
    z-index: 1;
}

.button:hover{
    color: #000;
} 

.button::after{
    position: absolute;
    content: "";
    top:0px;
    right:0px;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #fff;
    z-index: -1;
    transition: all 0.3s ease-out;
}
.button:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

.button.dark{
    border: 2px solid #000;
    color: #000;
}
.button.dark:hover{
    color: #fff;
}
.button.dark::after{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #000;
    z-index: -1;
    transition: all 0.3s ease-out;
} 
.button.dark:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

/* nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #030303;
}
  
header {
    position: relative;
}
  
.logo a{
    color: rgb(255, 255, 255);
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;
    font-weight: 800;
    text-decoration: none;
}
.logo a:hover {
    color: rgb(214, 214, 214);
    cursor: pointer;
}
  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
  
.nav-links li {
    list-style: none;
    position: relative;
}
.nav-links li a {
    display: block;
    line-height: 40px;
    padding: 1px 30px;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
.nav-links li a::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.25s ease;
}

.nav-links li a:hover::after {
    transform: scaleX(1);
    transform-origin: right;
    cursor: pointer;
    color: blue;
}

.nav-links a:active{
    color: orange;
}

  
  /* mobile nav */
.burger {
    display: none;
    cursor: pointer;
}
  
.burger div {
    width: 27px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* hero section */
.hero {
    position: relative;
    margin: 0 auto;
}
.hero-heading {
    color: #fff;
    font-size: clamp(50px, 6vw, 80px);
    width: 900px;    
}

.hero img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
    display: block;
  }

.hero-text{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 700px;
    text-align: left;
}

.fa-chevron-down{
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 4em;
    color: rgb(255, 255, 255);
    opacity: 0.6;
    animation: float 5s ease-out infinite;
}

@keyframes float{
    50%{
        transform: translateY(20px);
        opacity: 1;
    }
}

/* Latest */

.two-col-container{
    margin: 0 auto;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10em;
    justify-content: center;
    justify-items: center;

}
.two-col-container > * {
    flex-basis: 40%;
}

.two-col-container h3{
    display: inline-block;
    border-bottom: 10px solid orange;
    padding-bottom: 5px;
}

.column-1{
    flex:2;
}

.column-2{
    padding: 0 25px;
    flex: 1;
}

.two-col-img{
    width: 100%;
    height: 80vh;
    object-fit: cover;
    display: block;
    border-right: 30px solid orange;
}

.two-col-info{
    display: block;
    width: 100%;
    max-width: 700px;
    color: #000;
    padding-top: 20%;
}

.launch-date{
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

/* upcoming */

.upcoming-img{
    width: 100%;
    min-width: 600px;
    height: auto;
}

/* timeline */

.timeline{
    margin: 0 auto;
    width: 70%;
    padding: 8em 0;
   
}
.timeline h2{
    border-bottom: 10px solid orange;
    display: inline-block;
   
}

.timelineContainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto;
    justify-content: space-around;
    row-gap: 20px;
    column-gap: 20px;
}

.recentLaunchTarget{
    height: 350px;
    width: 100%;
    padding: 10px 15px;
    margin: 20px;
    background-size: cover;
    transition: all 0.4s ease-out;
    opacity: 1;
    position: relative;
    transition: all 0.2s ease;
    position: relative;
    text-decoration: none;
    color: #000;
}
.recentLaunchTarget h3, .recentLaunchTarget p{
    color: #fff;
}

.card-shadow-bg{
   background-color: rgba(0, 0, 0, 0.5);
   width: calc(100% + 30px);
   height: 80px;
   margin-left: -15px;
   margin-top: -10px;
   padding: 5px 0 5px 20px;
}

.recentLaunchTarget:hover{
    opacity: 0.8;
    cursor: pointer; 
}

/* hover recent launches */
.recentLaunchTarget::before{
    position: absolute;
    content:"";
    left: 0;
    bottom: -4%;
    height: 10px;
    width: 100%;
    background-color: orange;
    transform:scale(0);  
}

.recentLaunchTarget:hover::before{
    transform: scale(1);
    display: block;
}

/* people in space */
.center-wrapper{
    max-width: 1400px;
    height: 700px;
    margin: 0 auto;
    margin-top: 1em;
    margin-bottom: 1em;
}
.center-wrapper .column-1{
    padding: 0 25px;
}

#station-img{
    max-width: 700px;
    height: auto;
}

.people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    font-size: 1.5em;
}

.currentPeopleInSpace{
    font-size: 1.3em;
}


/* location ISS */

.center{
    margin: 0 auto;
    width: 50%;
    padding: 10em 0;
}
.center h4{
    display: inline-block;
    border-bottom: 10px solid orange;
}

iframe{
    width: 100%;
}

/* newsletter section */
.newsletter{
    background-image: url(images/turksat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 50vh;
    width: 100%;
    position: relative;
}
.newsletter p{
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    
}

.sub-div{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.sub-div h3{
    color: #fff;
}

input{
    display: inline-block;
    text-decoration: none;
    background: rgba(255, 255, 255, 0.9);
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    color: #fff;
    width: 400px;
    padding-left: 5px;
    padding: 15px 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-out
}
input.black{
    border: 2px solid #000;
    color: #000;
   
}

input:focus{
    background-color: rgba(255,255,255, 1);
    color: #000;
}

/* validation input */
input:valid {
    border-bottom: 3px solid green;
    outline: none;
}
input:focus:invalid {
    border-bottom: 3px solid red;
    outline: none;
}

button:hover{
    cursor: pointer;
}


footer{
    /* clear: both; */
    width: 100%;
    height: 200px;
    background-color: #000;
    color: #fff;
    position: relative;
}

.footer-wrapper{
    width: 90%;
    height: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

footer .logo a{
    font-size: 1.3em;
    position: absolute;
    bottom: 5px;
    left: 10px;
}

.code-by{
    position: absolute;
    right: 10px;
    bottom: 5px;
}

footer ul li{
    display: inline-block;
    margin: 0 3em;
    font-size: 1.3em;
}

footer li a{
    text-decoration: none;
    color: rgba(255,255,255, 1);
    transition: all 0.3s ease;
}

footer li a:hover{
    border-bottom: 3px solid white;
    color:rgba(255,255,255, 0.7);
}




/* CONTACT PAGE */

.contact-page-hero{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
}

#sn8-img img{
    width: 100%;
    max-width: 60vw;
    height: 92vh;
    object-fit: cover;

}

.contact-heading{
    font-size: clamp(40px, 5vw, 60px);
    margin-bottom: 10px;
    width: 300px;
}

.contact-wrapper{
    max-width: 40vw;
    height: 100%;
    margin: 1% 5%;
}
.contact-wrapper .para{
    margin: 30px 0;
}

.contact-wrapper .fas, .contact-wrapper .far, .contact-wrapper .fab{
    padding-right: 10px;
    color: #000;
    font-size: 1.2em;
    
}

#comments{
    max-width: 20vw;
    min-width: 400px;
    min-height: 20vh;
    max-height: 20vh;
    font-size: 1.2em;
    padding: 7px;
}

form label{
    font-size: 1.2em;
    margin-bottom: 10px;
}

fieldset{
    border: none;
    width: 100%;
}

legend{
    font-size: 2em;
}

label, textarea{
    display: block;
}

.contact-wrapper .para{
    width: 100%;
}


/* form validation styles */

#submitMessage{
    width: 400px;
}

.submitMessageSuccess{
    font-size: 1.2em;
    color: green;
    border: 1px solid green;
    padding: 7px;
}

#nameError, #emailError, #subjectError{
    margin-top: -30px;
    color: red;
    text-decoration: underline;
}

.submit-button{
    margin-top: 2em;
    padding: 10px 20px;
    font-size: 1.5em;
    text-transform: uppercase;
    color: #fff;
    background-color: #000;
    border-radius: 0;
    cursor: pointer;
}

#submit-btn:disabled{
    background-color: lightgray;
    border: 2px solid rgba(128, 128, 128, 0.191);
    color: rgba(0, 0, 0, 0.171);
    cursor: default;
}


/* Launches page */

.loader{
    display: block;
    margin: 0 auto;
    height: 47vh;
}

.loader .fa-rocket{
    font-size: 5em;
    color: rgb(206, 206, 206);
    display: block;
    margin-bottom: 1em;
    z-index: 10;
    position: relative;
    transform: translate(30%, 0);
}

.loader .fa-burn{
    position: absolute;
    bottom: 29%;
    left: 0%;
    z-index: -1;
    transform: rotate(-135deg) scale(1);
    transform-origin: bottom;
    color: orange;
    animation: engine 1s ease infinite;
}

@keyframes engine{
    50%{
        transform: rotate(-135deg) scale(0.95);
    }
 
}

#loadmore{
    display: block;
    margin: 0 auto;
    padding: 10px 30px;
    border: 2px solid rgb(61, 61, 61);
    background-color: rgba(231, 231, 231, 0.13);
    font-weight: 600;
    font-size: 1.2em;
    color:  rgb(61, 61, 61);
    margin: 3em auto;
}
#loadmore:hover{
   border: 2px solid darkorange;
}

.launch-hero{
    width: 90%;
    margin: 0 auto;
    padding: 40px;
}

.launch-results{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
    padding-bottom: 5em;
}

.launch-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: #e6e6e62c;
    padding: 20px;
    margin: 20px;
    display: none;
}
/* initial displayed items */
.launch-cards:nth-child(1),
.launch-cards:nth-child(2),
.launch-cards:nth-child(3),
.launch-cards:nth-child(4),
.launch-cards:nth-child(5),
.launch-cards:nth-child(6),
.launch-cards:nth-child(7),
.launch-cards:nth-child(8){
    display: block;
}

.launch-cards a{
    text-decoration: none;
    display: inline-block;
    color: rgb(32, 32, 32);
    text-transform: uppercase;
    font-weight: 600;
    padding: 10px 20px;
    border: 2px solid black;
    position: relative;
    background-color: rgba(226, 226, 226, 0.424);
    z-index: 102;
    overflow: hidden;
    margin-top: 1em;
}

.launch-cards a::before{
    position: absolute;
    content:"";
    width: 100%;
    height: 100%;
    top: 10%;
    left: -40%;
    background-color: orange;
    transform: scaleX(1) rotate(-45deg);
    transform-origin: left;
    transition: all 0.2s ease;
    z-index: -12;
}

.launch-cards a:hover::before{
    top: 35%;
    left: -15%;
    
}
.launch-cards a:active{
    color: #fff;
}
.launch-cards a:active::before{
    top: 0%;
    left: 0%;
    height: 350%;
    width: 200%;
}

.item-count{
    font-size: 0.8em;
    color: rgb(119, 119, 119);
}

.card-img{
    width: 100%;
    height: 350px;
    object-fit: cover;
}



/* details page */

.read-more h3{
    font-size: 4em;
    font-weight: 100;
}

.read-more span{
    font-weight: 800;
}

.read-more p{
    margin: 2em 0;
}

.read-more .link{
    font-size: 1.4em;
    text-decoration: none;
    color: inherit;
    border-bottom: 3px solid orange;
}


.detail-heading{
    font-size: 4em;
}

.details-gallery{
    margin: 0 auto;
    width: 60%;
    padding: 8em 0;
}

.details-gallery img{
    display: inline-block;
    width: 100%;
    margin: 1em 0;
    height: 70vh;
    object-fit: cover;
} 

/* Gallery styles */

.gallery-wrapper{
    margin: 0 auto;
    max-width: 120em;
    padding: 1.2em 20px;
}

.gallery-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    grid-template-rows: auto;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
}

.gallery-images{
    display: block;
    width: 100%;
    height: 500px;
    object-fit: cover;
    opacity: 1;
    transform: scale(1);
    transition: all 4s ease-in-out;
}

.gallery-item1, .gallery-item2{
    position: relative;
    overflow: hidden;
} 

.gallery-item1 img:hover, .gallery-item2 img:hover{
    cursor: pointer;
    transform: scale(1.1);
    opacity: 0.8;
}

.gallery-item-name{
    position: absolute;
    z-index: 3;
    color: #fff;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding:5px 10px;
    display: inline-block;
    background-color: rgb(51, 51, 51);
}


.galleryContainer1{
    margin: 3em 0;
}
.galleryContainer2{
    margin-bottom: 5em;
}

/* apod */

.apod-wrapper{
    width: 100%;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 5em;
}

.picture-of-the-day{
    width: 100%;
    height: 700px;
    flex: 2;
    text-align: right;
    margin-left: 5em;
}


.picture-of-the-day img{
    display: block;
    width: 100%;
    height: 60vh;
    object-fit: cover;
    border-left: 30px solid orange;
}
.picture-of-the-day iframe{
    display: block;
    width: 100%;
    height: 60vh;
    border-left: 30px solid orange;
}

.apod-ex{
    flex: 1;
}
.apod-title h2{
    display: inline-block;
    margin-bottom: 1em;
    border-bottom: 10px solid orange;
}

.apod-ex h3{
    color: #3b3b3b;
}

.enter-photo-poll{
    margin-top: 3em;
    background-color: #c3c3c32c;
    padding: 2em 1em;
}

.apod-congrats{
    background-color: #e6e6e62c;
    padding: 2em 1em;
    border-left: 30px solid rgb(228, 228, 228);
}


.apod-congrats p::before::first-letter{
    content:"";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;
    height: 8px;
    width: 100%;
    background-color: chocolate;
    
}

.soMe-link{
    display: inline-block;
    padding: 12px;
    background-color: #1DA1F2;
    margin-top: 1em;
    
}
.soMe-link .fa-twitter{
    font-size: 2em;
    color: white; 
}



@media screen and (max-width: 1124px) {
    .nav-links {
      width: 60%;
    }

    /* hero */
    .hero-text{
        top: 12%;
        left: 5%;
        transform: translate(0, 0);
        max-width: 300px;
        text-align: left;
    }
    .hero-heading {
        color: #fff;
        font-size: clamp(50px, 6vw, 80px);
        width: 90vw;    
    }

    /* gallery */

    .gallery-grid{
        grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
    }

    .apod-wrapper{
        flex-direction: column-reverse;
        height: 100%;
    }

    .apod-title h2{
        font-size: 1.7em;
    }
    
    .picture-of-the-day{
        width: 100%;
        margin-left: 0em;
        /* order: -1; */
    }   
    
    .picture-of-the-day img{
        height: 100%;
    }
    .picture-of-the-day iframe{
        height: 100%;
    }
}

@media screen and (max-width: 960px) {
     main {
      width: 100%;
    }

    .mobile-margin{
        padding-left: 20px;
    }

    .para-margin{
        margin: 0 20px;
    }

    .button{
        margin-left: 20px;
    }

    /* nav */
  
    nav {
        justify-content: space-between;
    }

    nav .logo a{
        font-size: 1.3em;
        letter-spacing: 1px;
        margin-left: 10px;
    }
    
    .nav-links {
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(20, 20, 20);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
        z-index: 2;
        display: none;
    }
    
    .nav-links li {
        opacity: 0;
    }
    .burger {
        display: block;
        margin-right: 20px;
    }

    /* latest */
    .two-col-container{
        flex-direction: column;
        margin-top: 2em;
        padding: 0;
    }
    
    .two-col-info{
        padding-top: 2%;
    }
    .column-2{
        padding: 0;
    }
    .center-wrapper .column-1{
        padding: 0;
    }

    .two-col-img{
        height: 50vh;
    }

    /* upcoming */
    .upcoming-img{
        display: block;
        margin: 0 auto;
        width: 100%;
        min-width: 300px;
    }

    .center-wrapper{
        width: 100%;
        height: auto;
        margin: 3em 0;
    }

    /* recent timeline */
    .timeline{
        width: 100%;
        padding: 3em 0;       
    }

    .timelineContainer{
        row-gap: 7px;
    }
    
        
    .recentLaunchTarget{
        height: 40vh;
        width: 100%;
        padding: 10px 15px;
        margin: 20px 0;    
    }

    .center{
        margin: 0 auto;
        width: 100%;
        padding: 4em 0;
    }

    .newsletter{
        height: 40vh;
        width: 100%;
        margin: 0;
        padding: 0;
    }

    .sub-div{
        display: block;
        width: 100%;
        left: 0;
        transform: translate(0px, 0px);
        margin: 0 20px;
    }

    input{
        width: 300px;
        padding-left: 5px;
        margin: 0; 
    }
  
    .newsletter p{
        padding-bottom: 1em;
    }

    .subscribe-btn{
        margin: 0;
    }

    /* launch page */

    .launch-hero{
        width: 100%;
        margin: 0 auto;
        padding: 20px;
    }

    
    .launch-results{
        width: 100%;
        grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
        grid-template-rows: auto;
        grid-row-gap: 20px;
        grid-column-gap: 0px;
        padding-bottom: 2em;
    }
    
    .launch-cards{
        margin: 0;
        display: none;
    }

    /* contact page */
    #sn8-img img{
        display: none;
    }

    .contact-page-hero{
        flex-direction: column;
        width: 100%;
        height: 100%;
        margin-top: 2em;
        margin-bottom: 6em;
    }

    .contact-wrapper{
        width: 100%;
        height: 100%;
        margin: 0;
        margin-left: 20px;
    }
    .contact-wrapper .para{
        width: 90vw;
    }
    
    #comments{
        min-width: 360px;
        max-width: 360px;
        padding: 0;
        margin-right: 0px;
    }

    #name, #subject, #email, #comments{
        width: 360px;
        display: inline-block;
        text-decoration: none;
        border: 2px solid #000;
        font-size: clamp(16px, 2vw, 22px);
        color: #000;
        padding-left: 5px;
        padding: 7px 5px;
        margin-bottom: 30px;
        transition: all 0.3s ease-out
    }

    .submit-button{
        margin-top: 0;
        font-size: 1.2em;
        padding: 7px 20px;
    }

    /* footer */
    footer{
        height: 130px;
    }

    .footer-wrapper{
        width: 100%;
        justify-content: center;
    }

    footer ul li{
        margin: 0 1em;
        font-size: 1em;
    }

}
  
.nav-active {
    transform: translateX(0%);
    display: block;
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}
  
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
  