* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', 'Arial', sans-serif;
}

/* global css */

h2 {
    font-size: clamp(2rem, 3.5vw, 50px);
    margin: 2rem 0 1rem 0;
}
h3 {
    font-size: clamp(1.5rem, 2.7vw, 40px);
}


.para p{
    font-size: clamp(19px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 700px;
    color: #363636;
}

h1,h2,h3,h4{
    color: #191919;
    
}

/* active page */

.active-page{
    border-bottom: 3px solid orange;
}

/* button and links */
.button{
    display: inline-block;
    text-decoration: none;
    text-transform: uppercase;
    background: none;
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    font-weight: bold;
    color: #fff;
    padding: 15px 30px;
    margin: 40px 0;
    position: relative;
    z-index: 1;
}

.button:hover{
    color: #000;
} 

.button::after{
    position: absolute;
    content: "";
    top:0px;
    right:0px;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #fff;
    z-index: -1;
    transition: all 0.3s ease-out;
}
.button:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

.button.dark{
    border: 2px solid #000;
    color: #000;
}
.button.dark:hover{
    color: #fff;
}
.button.dark::after{
    position: absolute;
    content: "";
    top:0;
    left:0;
    width: 100%;
    height: 100%;
    transform: scaleY(0);
    transform-origin: bottom;
    background-color: #000;
    z-index: -1;
    transition: all 0.3s ease-out;
} 
.button.dark:hover::after{
    transform: scaleY(1);
    transform-origin: top;
}

/* nav */
nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #030303;
}
  
header {
    position: relative;
}
  
.logo h4 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 2em;
}
  
.nav-links {
    display: flex;
    justify-content: space-around;
    width: 40%;
}
  
.nav-links li {
    list-style: none;
    position: relative;
}
.nav-links li a {
    display: block;
    line-height: 40px;
    padding: 1px 30px;
    text-transform: uppercase;
}
.nav-links li::after {
    content: "";
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 3px;
    background-color: #fff;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.25s ease;
}
.nav-links li:hover::after {
    transform: scaleX(1);
    transform-origin: right;
    cursor: pointer;
}
  
.nav-links a {
    color: rgb(266, 266, 266);
    text-decoration: none;
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 14px;
}
  
  /* mobile nav */
.burger {
    display: none;
    cursor: pointer;
}
  
.burger div {
    width: 27px;
    height: 3px;
    background-color: white;
    margin: 5px;
    transition: all 0.3s ease;
}

/* hero section */
.hero {
    position: relative;
    margin: 0 auto;
}
.hero-heading {
    color: #fff;
    font-size: clamp(50px, 6vw, 80px);
    
    
}

.hero img {
    width: 100%;
    height: 92vh;
    object-fit: cover;
    display: block;
  }

.hero-text{
    position: absolute;
    top: 35%;
    left: 35%;
    transform: translate(-50%, 0);
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    padding-bottom: 1rem;
    max-width: 700px;
    text-align: left;
}




.fa-chevron-down{
    position: absolute;
    bottom: 5%;
    left: 50%;
    font-size: 4em;
    color: #fff;
    opacity: 0.6;
    animation: float 5s ease-out infinite;
}



/* turksat */

.two-col-container{
    margin: 0 auto;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    padding-top: 10em;
    justify-content: center;
    justify-items: center;

}
.two-col-container > * {
    flex-basis: 40%;
}

.column-1{
    flex:2;
}

.column-2{
    padding: 0 25px;
    flex: 1;
}

.launchTrailImg{
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.turksat{
    display: block;
    width: 100%;
    max-width: 700px;
    color: #000;
    padding-top: 20%;
}

.rocketName{
    color: #000;
    font-size: 5em;
}

.launch-date{
    display: block;
    font-size: 1.4em;
    font-weight: bold;
}

/* timeline */

.timeline{
    margin: 0 auto;
    width: 70%;
    padding-top: 10em;
   
}

.timelineContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.recentLaunchTarget{
    height: 350px;
    width: 300px;
    background-size: cover;
    transition: all 0.4s ease-out;
    opacity: 1;
    filter: sepia(0.4);
    position: relative;
    transition: all 0.2s ease;
}
.recentLaunchTarget h3, .recentLaunchTarget p{
    color: #fff;
}

.recentLaunchTarget:hover{
    opacity: 0.8;
    filter: sepia(0);
    cursor: pointer; 
}

/* test */
.recentLaunchTarget::before{
    position: absolute;
    content:"";
    left: 0;
    bottom: -4%;
    height: 10px;
    width: 100%;
    background-color: rgb(19, 19, 19);
    transform:scale(0);
    
}

.recentLaunchTarget:hover::before{
    transform: scale(1);
    display: block;
    
}


.recentLaunchTarget h3:hover{
    cursor: pointer;
}


/* people in space */
.center-wrapper{
    max-width: 1400px;
    height: 400px;
    margin: 0 auto;
    margin-top: 7em;
    margin-bottom: 7em;
}
.center-wrapper .column-1{
    padding: 0 25px;
}

#station-img{
    max-width: 700px;
    height: auto;
}

.people{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    font-size: 1.5em;
}

.currentPeopleInSpace{
    font-size: 1.3em;
}

/* location ISS */

.center{
    margin: 0 auto;
    width: 50%;
    padding: 10em 0;
}

iframe{
    width: 100%;
}

/* newsletter section */
.newsletter{
    background-image: url(images/turksat.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
}
.newsletter p{
    color: #fff;
    font-size: clamp(16px, 2vw, 22px);
    
}

.sub-div{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
}

.sub-div h3{
    color: #fff;
}

input{
    display: inline-block;
    text-decoration: none;
    background: none;
    border: 2px solid #fff;
    font-size: clamp(16px, 2vw, 22px);
    color: #fff;
    width: 400px;
    padding-left: 5px;
    padding: 15px 30px;
    margin-bottom: 30px;
    transition: all 0.3s ease-out
}
input.black{
    border: 2px solid #000;
    color: #000;
   
}

input:focus{
    background-color: rgba(255,255,255, 0.8);
    color: #000;
}

input:valid {
    border-bottom: 3px solid green;
    outline: none;
  }
  input:focus:invalid {
    border-bottom: 3px solid red;
    outline: none;
  }

button:hover{
    cursor: pointer;
}


footer{
    width: 100%;
    height: 180px;
    background-color: #000;
    color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}



@keyframes float{
    50%{
        transform: translateY(20px);
        opacity: 1;
    }
}



/* CONTACT PAGE */

.contact-page-hero{
    width: 100%;
    height: 92vh;
    display: flex;
    flex-direction: row;
    margin-bottom: 10em;
}

#sn8-img img{
    width: 100%;
    max-width: 60vw;
    height: 92vh;
    object-fit: cover;

}

.contact-heading{
    font-size: clamp(40px, 5vw, 60px);
    margin-bottom: 10px;
}

.contact-wrapper{
    max-width: 40vw;
    height: 92vh;
    margin: 1% 5%;
}
.contact-wrapper .para{
    margin: 30px 0;
}
.contact-wrapper .fas, .contact-wrapper .far{
    font-size: clamp(30px, 2vw, 22px);
    padding-right: 10px;
}

textarea{
    max-width: 30vw;
    min-width: 400px;
    min-height: 20vh;
    max-height: 20vh;
    font-size: 1.2em;
    padding: 7px;
}

form label{
    font-size: 1.2em;
    margin-bottom: 10px;
}

fieldset{
    border: none;
}

legend{
    font-size: 2em;
}

label, textarea{
    display: block;
}

/* Launches page */

.launch-results{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}
.results2{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    grid-template-rows: auto;
    grid-row-gap: 30px;
    grid-column-gap: 20px;
}

.launch-cards{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
    background-color: rgba(211, 211, 211, 0.171);
    padding: 20px;
    margin: 20px;
}

.visible{
    display: block;
}

.card-img{
    width: 320px;
    height: 350px;
    object-fit: cover;
}

  

/* @media screen and (max-width: 1024px) {
    .nav-links {
      width: 60%;
    }
} */

@media screen and (max-width: 960px) {
    main {
      width: 100%;
    }
  
    body {
      overflow-x: hidden;
    }

  
    h2 {
      margin: 2rem 0 1rem 0.5rem;
    }
  
    .container {
      padding: 0 0.5rem;
    }
  
    /* nav */
  
    .nav {
      justify-content: space-between;
    }
  
    .nav-links {
      position: absolute;
      right: 0px;
      height: 92vh;
      top: 8vh;
      background-color: rgb(20, 20, 20);
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 50%;
      transform: translateX(100%);
      transition: transform 0.3s ease-in;
      z-index: 2;
      display: none;
    }
  
    .nav-links li {
      opacity: 0;
    }
    .burger {
      display: block;
    }

    /* contact page */
    #sn8-img img{
        display: none;
    }

    textarea{
        max-width: 400px;
        min-width: 400px;
        min-height: 20vh;
        max-height: 20vh;
        font-size: 1.2em;
        padding: 7px;
    }
    
}
  
.nav-active {
    transform: translateX(0%);
    display: block;
}
  
@keyframes navLinkFade {
    from {
      opacity: 0;
      transform: translateX(50px);
    }
    to {
      opacity: 1;
      transform: translateX(0px);
    }
}
  
.toggle .line1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}
.toggle .line2 {
    opacity: 0;
}
.toggle .line3 {
    transform: rotate(45deg) translate(-5px, -6px);
}
  